// 此处存放自定义全局样式

// 代码样式
code {
  // padding: 0.25rem 0.5rem;
  padding: 0.15rem 0.15rem;
}

// 主页背景
:root {
  --bg-image-style: url(/bg.svg), linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

html[data-theme=dark] {
  --bg-image-style: url(/bg.svg), linear-gradient(120deg, #634520 0%, #6e2e7e 100%);
}

// 复制代码时指定为 LaTeX
.katex {
  annotation {
    user-select: all;
  }
}

@import 'print.scss';